:root {
  --fontColor: rgb(60, 60, 60);
  --postbackgroundcolor: rgb(189, 189, 189);
}

.post-display {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 1rem 0.5rem;
}

.blog-preview.more-soon {
  content: '';
  background: rgba(57, 57, 57, 0.353);
}

.blog-preview {
  height: 20rem;
  background-color: var(--postbackgroundcolor);
}

.blog-preview-wrapper-link {
  height: 100%;
  text-decoration: none;
  color: var(--fontColor);
  display: block;
  overflow: hidden;
}

.blog-preview:hover {
  opacity: 0.8;
  transform: scale(1.02);
}

.b-preview--img {
  height: 50%;
  width: 100%;
  object-fit: cover;
}

.b-preview--content {
  padding: 1rem;
  text-align: justify;
  max-height: 50%;
  box-sizing: border-box;
  background-image: linear-gradient(to bottom, transparent, rgb(102, 102, 102));

}

.content--header {
  text-align: center;
  color: black;
  font-size: 1rem;
  margin: 0px;
}
.content--summary {
  color: var(--fontColor);
  margin-top: 4px;
}


/* BLOG PUBLISH CSS */
.blog-header {
  font-size: 3rem;

}
.blog-content {}
.blog-content h4 {
  /* margin: 10rem auto; */
}
.blog-image1 {
  
}
.blog-image2 {

}
.blog-image3 {

}