:root {
  --fontColor: rgb(60, 60, 60);
  --postbackgroundcolor: rgb(189, 189, 189);
}

.post-display {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 1rem 0.5rem;
}

.blog-preview.more-soon {
  content: '';
  background: rgba(57, 57, 57, 0.353);
}

.blog-preview {
  height: 20rem;
  background-color: var(--postbackgroundcolor);
}

.blog-preview-wrapper-link {
  height: 100%;
  text-decoration: none;
  color: var(--fontColor);
  display: block;
  overflow: hidden;
}

.blog-preview:hover {
  opacity: 0.8;
  transform: scale(1.02);
}

.b-preview--img {
  height: 50%;
  width: 100%;
  object-fit: cover;
}

.b-preview--content {
  padding: 1rem;
  text-align: justify;
  max-height: 50%;
  box-sizing: border-box;
  background-image: linear-gradient(to bottom, transparent, rgb(102, 102, 102));
}

.content--header {
  text-align: center;
  color: black;
  font-size: 1rem;
  margin: 0px;
}
.content--summary {
  color: var(--fontColor);
  margin-top: 4px;
}

/* BLOG PUBLISH CSS */
.blog {
  font-family: 'Quicksand';
  color: black;
  border: solid 2px white;
  padding: 30px;
}

.blog-header {
  font-weight: 600;
  font-size: 1.6rem;
  font-family: inherit;
}

.blog-content {
  text-align: start;
  color: inherit;
}

.blog-content h4 {
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 3rem;
  text-align: start;
}

.blog-image1 {
}
.blog-image2 {
}
.blog-image3 {
}

#javascript-notice {
  background-color: yellow;
  margin: 0px;
}

header h1 {
  font-family: 'Quicksand';
  font-size: 5rem;
}
