body {
  margin: 0px;
  background-color: bisque;
  height: 400vw;
}


.navbar {
  position: sticky;
  display: flex;
  justify-content: space-between;
  top: 0;
  height: 3rem;
  background-color: rgba(255, 240, 226, 0.512);
  font-size: 1.5rem;
}

.nav-box {
  display: flex;
  align-items: center;
}

.nav-box ul {
  display: inherit;
  list-style: none;
  padding-inline: 10px;
}

.nav-link {
  display: block;
  height: 100%;
  text-decoration: none;
}
.nav-link:hover {
  background-color: aquamarine;
}