body {
  font-family: sans-serif;
  font-weight: 400;
}

h1, h2 {
  font-family: Lexend;
  font-weight: 500;
}

section {
  margin: 10rem 0px;
}

.header-image img {
  height: 20rem;
  width: 20rem;
}

.header {
  display: flex;
}
.header-content {
}

.header-content .intro {
}
.header-content .navbar {
}
.header-image {
}


@media (max-width: 600px) {
  .header {
    flex-direction: column;
  }
  .header-content {
  }

  .header-content .intro {
  }
  .header-content .navbar {
  }
}
