body {
  font-family: sans-serif;
  font-weight: 400;
  margin: 0px;
}

h1,
h2,
h3 {
  font-family: Lexend;
  font-weight: 500;
}

section {
  margin: 3rem 0px;
}

.fl {
  display: inline-flex;
}

.red {
  color: rgb(255, 0, 0);
}

.mm3 {
  margin: 3rem 3rem;
}

hr {
  margin: 100px 0px;
  padding-inline: 40px;
}
/* HeaderHeaderHeaderHeaderHeaderHeaderHeaderHeader  */

.header {
  display: flex;
  min-width: 360px;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.summary {
  color: rgb(199, 199, 199);
  font-weight: 200;
}

.summary .intro-title {
  color: rgb(65, 65, 65);
}

.header-image img {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  overflow: hidden;
}

.nav-button {
  color: rgb(255, 57, 57);
  text-decoration: none;
  font-weight: 600;
  margin-inline: 1rem;
  padding: 10px;
  border-radius: 7px;
}

.nav-button:hover {
  color: white;
  background-color: rgba(255, 135, 135, 0.547);
  transition-duration: 500ms;
}

/* blogblogblogblogblogblogblogblogblogblogblogblogblogblogblogblog */

.blogs {
}

.blogs-section--header {
  margin-bottom: 5rem;
  text-align: center;
}

.blogs-section--content {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
  color: grey;
}

.blog-entry {
  flex: 1;
  padding: 1rem;
  max-width: 600px;
  background-color: rgba(0, 255, 0, 0.132);
  border-radius: 7px;
  margin-inline: 10px;
}

.blogs-section--content h3 {
  color: rgb(41, 41, 41);
}

@media (max-width: 750px) {
  body {
    text-align: justify;
  }
  .header {
    text-align: center;
    flex-direction: column;
    margin: 1rem 1rem;
  }
  .header-content {
    margin: 2rem 0rem;
  }

  .blogs-section--header {
    margin-bottom: 5rem;
    text-align: center;
  }
  .blogs-section--content {
    padding: 0.5rem;
    color: grey;
    flex-direction: column;
  }
  .blogs-section--content h3 {
    color: rgb(41, 41, 41);
  }  
}

@media (max-width: 400px) {
  .header {
    text-align: center;
    flex-direction: column;
    margin: 1rem 1rem;
  }
  .header-content {
    margin: 2rem 0rem;
  }
  .fl {
    margin: 0px;
  }
}
